<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493475072627-i46vg8flap6vv80hnsfva2m8cbhackbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493475072627-i46vg8flap6vv80hnsfva2m8cbhackbb</string>
	<key>API_KEY</key>
	<string>AIzaSyAgXoqn3eNzfzxhGP7Nmrw0bzj0HAVCEYg</string>
	<key>GCM_SENDER_ID</key>
	<string>493475072627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>biszaal.Expense</string>
	<key>PROJECT_ID</key>
	<string>expense-sheet-app</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-sheet-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:493475072627:ios:ba7eeb3a3c26a31cc17806</string>
	<key>DATABASE_URL</key>
	<string>https://expense-sheet-app.firebaseio.com</string>
</dict>
</plist>
